groups:
- name: cpu_alerts
  rules:
  - alert: HighCpuUsage
    expr: (100 * sum(rate(windows_cpu_time_total{mode=~"user|privileged"}[5m])) / 300)*100 > 20
    for: 2m
    labels:
      severity: critical
    annotations:
      summary: "High CPU Usage Detected"
      description: "CPU usage is above 20% for at least 2 minutes."